<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Customer</title>
</head>
<body>
    <h1>Update Customer</h1>
    <form action="/customers/update/<%= customer._id %>" method="POST">
        <label for="name">Username:</label>
        <input type="text" id="username" name="username" value="<%= customer.username %>" required><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="<%= customer.email %>" required><br>
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" value="<%= customer.phone %>"><br>
        <h3>Address</h3>
        <label for="street">Street:</label>
        <input type="text" id="street" name="address[street]" value="<%= customer.address.street %>" required><br>
        <label for="city">City:</label>
        <input type="text" id="city" name="address[city]" value="<%= customer.address.city %>" required><br>
        <label for="state">State:</label>
        <input type="text" id="state" name="address[state]" value="<%= customer.address.state %>" required><br>
        <label for="zipCode">Zip Code:</label>
        <input type="text" id="zipCode" name="address[zipCode]" value="<%= customer.address.zipCode %>" required><br>
        <button type="submit">Update Customer</button>
    </form>
</body>
</html>
