<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/products.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container-fluid">
        <header class="row">
            <div class="col text-start">
                <span class="logo mb-2 mt-2">
                    <i class="bi bi-globe-europe-africa"></i>Travel Trove
                </span>
            </div>
            <div class="col-4 text-center">
                <div class="input-group mt-2 mb-2">
                    <input type="text" class="form-control" placeholder="Try Our Search" aria-label="search" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
            <div class="col text-center mb-2 mt-2">
                <div class="btn-group">
                    <button type="button" id="btn-account" class="btn" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                        <i class="bi bi-person"></i>Account
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Login</a></li>
                        <li><a class="dropdown-item" href="/customers/register">Register</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Manager</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button id="btn-Shopping-cart" class="btn dropdown-toggle no-arrow" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                        <i class="bi bi-bag-check"></i>
                        <span class="cart-count badge">0</span>
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button class="btn dropdown-item" onclick="viewCart()">View Basket</button>
                        </li>
                        <li><a class="dropdown-item" href="#">Checkout</a></li>
                    </ul>
                </div>
            </div>
        </header>
    </div>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/products/category/Clothing">Clothing</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products/category/Shoes">Shoes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products/category/Accessories">Accessories</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   <div class="container">
        <h1 class="text-center my-4"><%= product.name %></h1>
        <div class="row">
            <div class="col-md-6">
                <img src="<%= product.imageUrl %>" alt="<%= product.name %>" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h3>Description</h3>
                <p><%= product.description %></p>
                <h4>Price: $<%= product.price.toFixed(2) %></h4>
                <h5>Category: <%= product.category %></h5>
                <h5>Available Quantity: <%= product.quantity %></h5>
                <a href="/products/category/<%= product.category %>" class="btn btn-secondary mt-4">Back to <%= product.category %> Products</a>
                <button class="btn btn-secondary mt-4" onclick="addToCart('<%= product._id %>','<%= product.name %>', <%= product.price %>)">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="cart-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Basket</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"> </button>
            </div>
            <div class="toast-body">
                Product added to cart!
            </div>
        </div>
    </div>

<!-- Cart Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalLabel">Your Cart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="cartDetails"></div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Proceed to Checkout</button> <!-- need to Add checkout logic here -->
            </div>
        </div>
    </div>
</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/js/cart.js"></script>
</body>
</html>
