<!DOCTYPE html>
<html lang="en">

<body>
    
   <div class="container">
        <h1 class="text-center my-4"><%= product.name %></h1>
        <div class="row">
            <div class="col-md-6">
                <img src="<%= product.imageUrl %>" alt="<%= product.name %>" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h3>Description</h3>
                <p><%= product.description %></p>
                <h4>Price: $<%= product.price.toFixed(2) %></h4>
                <h5>Category: <%= product.category %></h5>
                <h5>Available Quantity: <%= product.quantity %></h5>
                <a href="/products/category/<%= product.category %>" class="btn btn-secondary mt-4">Back to <%= product.category %> Products</a>
                <button class="btn btn-secondary mt-4" onclick="addToCart(<%= product.id %>, <%= product.price %>)">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="cart-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Basket</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"> </button>
            </div>
            <div class="toast-body">
                Product added to cart!
            </div>
        </div>
    </div>



   
</body>
</html>