
	<body>
	<div class="container my-4">
		<h1 class="text-center"><%= category %></h1>
		<form action="/products/category/<%= category %>" method="get" class="mb-4">
			<label for="priceRange">Choose a price range:</label>
			<select name="priceRange" id="priceRange" class="form-select">
			  <option value="">All</option>
			  <option value="0-50" <%= priceRange === '0-50' ? 'selected' : '' %>>$0 - $50</option>
			  <option value="51-100" <%= priceRange === '51-100' ? 'selected' : '' %>>$51 - $100</option>
			  <option value="101-150" <%= priceRange === '101-150' ? 'selected' : '' %>>$101 - $150</option>
			  <option value="151-200" <%= priceRange === '151-200' ? 'selected' : '' %>>$151 - $200</option>
			  <option value="201-250" <%= priceRange === '201-250' ? 'selected' : '' %>>$201 - $250</option>
			  <option value="250+" <%= priceRange === '250+' ? 'selected' : '' %>>More than $250</option>
			</select>
			<label for="cate">Choose a category:</label>
			<select name="cate" id="cate" class="form-select">
				<option value="Clothing"
					<%= cate === 'Clothing' ? 'selected' : '' %>>Clothing
					</option>
				<option value="Shoes"
					<%= cate === 'Shoes' ? 'selected' : '' %>>Shoes
					</option>
				<option value="Accessories"
					<%= cate === 'Accessories' ? 'selected' : '' %>>Accessories
					</option>
			</select>
			<div class="mb-3">
				<label for="name" class="form-label">Search prodact name:</label>
				<input type="text" name="name" id="name" class="form-control" placeholder="Enter prodact name">
			</div>
			<button type="submit" class="btn btn-primary mt-2">Filter</button>
		  </form>
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4" id="product-grid">
			<% products.forEach(product => { %>
			<div class="col">
				<a href="/products/<%= product._id %>" class="text-decoration-none">
					<div class="card h-100">
						<img src="<%= product.imageUrl %>" class="card-img-top" alt="<%= product.name %>">
						<div class="card-body text-center">
							<h5 class="card-title">
								<%= product.name %>
							</h5>
							<p class="card-text">
								$<%= product.price %>
							</p>
						</div>
					</div>
				</a>
			</div>
			<% }); %>
		</div>
	</div>
</body>

