
	<body>
	<div class="container my-4">
		<h1 class="text-center"><%= category %></h1>
		
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4" id="product-grid">
			<% products.forEach(product => { %>
			<div class="col">
				<a href="/products/<%= product._id %>" class="text-decoration-none">
					<div class="card h-100">
						<img src="<%= product.imageUrl %>" class="card-img-top" alt="<%= product.name %>">
						<div class="card-body text-center">
							<h5 class="card-title">
								<%= product.name %>
							</h5>
							<p class="card-text">
								$<%= product.price %>
							</p>
						</div>
					</div>
				</a>
			</div>
			<% }); %>
		</div>
	</div>
</body>

